#cameraFileInput {
  display: none;
}

#pictureFromCamera {
  width: 100%;
  height: auto;
  margin-top: 16px;
  background: url(Base BN.jpg);
  background-size: 330px 200px;
  background-repeat: no-repeat;
}

#overlay {
          width:300px;
          height:300px;
          position: absolute;
          top:0;
          left:0;
          pointer-events:none;
	  background-image: url("Base.jpg");
	  opacity: 0.8;
  
.btn {
  display: inline-block;
  background-color: #00b531;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(0.9);
}
